apiVersion: apps/v1
kind: Deployment
metadata:
  name: hfi-frontend
  namespace: hfi-prod
  labels:
    app: hfi-frontend
spec:
  replicas: 3

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1

  selector:
    matchLabels:
      app: hfi-frontend

  template:
    metadata:
      labels:
        app: hfi-frontend
    spec:
      imagePullSecrets:
        - name: gitlab-registry-secret

      containers:
        - name: frontend
          image: registry.gitlab.mfsys.com.pk/hfi/frontend:prod-27
          imagePullPolicy: Always

          ports:
            - containerPort: 80

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"

          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 20
