apiVersion: apps/v1
kind: Deployment
metadata:
  name: hfi-frontend
  namespace: hfi-prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hfi-frontend
  template:
    metadata:
      labels:
        app: hfi-frontend
    spec:
      imagePullSecrets:
        - name: gitlab-registry-secret
      containers:
        - name: frontend
          image: registry.gitlab.mfsys.com.pk/hfi/frontend:prod-5
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"
